@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron" style="color: crimson">
    <h1>10TACULT</h1>
    <p class="lead">10TACULT Clan Management</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

@*<div class="container-fluid">
    <div class="row col-md-offset-5">
        <div class="col-md-4 text-center" style="color: crimson">
         <h2>Getting started</h2>
         <p>
             ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
             enables a clean separation of concerns and gives you full control over markup
             for enjoyable, agile development.
          </p>
          <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>
</div>*@